<form class="mx-auto w-100">
	<div *ngIf="error" class="alert alert-danger py-2">
		Coming Soon: This feature is under development
	</div>
	<div>
		<mat-form-field appearance="fill" class="w-100">
			<mat-label>Name</mat-label>
			<input matInput>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field appearance="fill" class="w-100">
			<mat-label>Email</mat-label>
			<input matInput>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field appearance="fill" class="w-100">
			<mat-label>Subject</mat-label>
			<input matInput>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field appearance="fill" class="w-100">
			<mat-label>Message</mat-label>
			<textarea matInput rows="8"></textarea>
		</mat-form-field>
	</div>
	<div class="d-flex justify-content-between align-items-center">
		<div>
			<mat-checkbox color="primary">Send me a copy</mat-checkbox>
		</div>
		<div>
			<button class="btn btn-outline-secondary rounded-pill px-4 mt-3" type="button" (click)="error = true">Send</button>
		</div>
	</div>
</form>
