<div class="carousel-container"  [style.height]="height" style="background: #282d31">
	<img class="carousel-image" [src]="gallery[index]" [alt]="'slide ' + index">
	<div class="carousel-previous" (click)="previous()">
		<mat-icon>keyboard_arrow_left</mat-icon>
	</div>
	<div class="carousel-next" (click)="next()">
		<mat-icon>keyboard_arrow_right</mat-icon>
	</div>
	<div class="carousel-pause" (click)="pause = !pause">
		<mat-icon *ngIf="!pause">pause</mat-icon>
		<mat-icon *ngIf="pause">play_arrow</mat-icon>
	</div>
</div>
