<div class="carousel-container"  [style.height]="height">
	<img *ngIf="background" class="carousel-background" [src]="gallery[index]" alt="background">
	<img class="carousel-image" [src]="gallery[index]" [alt]="'slide ' + index">
	<div class="carousel-previous" (click)="previous()">
		<mat-icon>skip_previous</mat-icon>
	</div>
	<div class="carousel-next" (click)="next()">
		<mat-icon>skip_next</mat-icon>
	</div>
	<div class="carousel-pause" (click)="pause = !pause">
		<mat-icon *ngIf="!pause">pause</mat-icon>
		<mat-icon *ngIf="pause">play_arrow</mat-icon>
	</div>
</div>
