<footer class="w-100 text-white app-footer">
	<div class="bg-dark p-3 pt-4">
		<div class="d-flex flex-column flex-sm-row flex-md-wrap justify-content-around mx-auto cap-width">
			<div>
				<h4>Address</h4>
				<ul>
					<li>9061 ON-621,</li>
					<li>Morson, ON P0W 1J0,</li>
					<li>Canada</li>
				</ul>
			</div>
			<div>
				<h4>Contact Us</h4>
				<ul>
					<li>Phone: <a href="tel:18074885511" target="_blank">+1 (807) 488-5511</a></li>
					<li>Toll Free: <a href="tel:18886908070" target="_blank">+1 (888) 690-8070</a></li>
					<li>Email: <a href="mailto:pelicanlanding2002@gmail.com" target="_blank">pelicanlanding2002&#64;gmail.com</a></li>
					<li>Social Media: <a href="https://www.facebook.com/MorsonsPelicanLanding" target="_blank">Facebook</a></li>
				</ul>
			</div>
			<div>
				<h4>Resources</h4>
				<ul>
					<li>
						Border:
						<a href="https://www.cbsa-asfc.gc.ca/travel-voyage/menu-eng.html" target="_blank">Canada</a> /
						<a href="https://www.cbp.gov/travel/us-citizens" target="_blank">USA</a>
					</li>
					<li>
						Declarations:
						<a href="https://www.canada.ca/en/border-services-agency/services/arrivecan.html" target="_blank">ArriveCan</a> /
						<a href="https://www.rcmp-grc.gc.ca/wam/media/2347/original/d369a605ac3363b569af5ea5dc40c88d.pdf" target="_blank">Firearms</a>
					</li>
					<li>
						Regulations:
						<a href="https://www.ontario.ca/files/2023-05/mnrf-2023-hunting-regulations-summary-en-2023-05-03.pdf" target="_blank">Hunting</a> /
						<a href="https://www.ontario.ca/files/2023-12/mnrf-2024-ontario-fishing-regulations-summary-en-2023-12-11-v2.pdf" target="_blank">Fishing</a>
					</li>
					<li>
						Weather:
						<a href="https://www.accuweather.com/en/ca/morson/p0w/daily-weather-forecast/54891" target="_blank">Morson</a> /
						<a href="https://weather.gc.ca/marine/forecast_e.html?mapID=09&siteID=08100" target="_blank">Marine</a>
					</li>
				</ul>
			</div>
			<div>
				<h4>Sitemap</h4>
				<ul>
					<li><a routerLink="/">Home</a></li>
					<li><a routerLink="/coming-soon">Restaurant</a></li>
					<li><a routerLink="/coming-soon">Hunting</a></li>
					<li><a routerLink="/coming-soon">Fishing</a></li>
					<li><a routerLink="/coming-soon">Lodging</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div style="background: #282d31" class="p-3">
		<div class="row">
			<p class="mx-auto text-center mb-0">
				Copyright © Morson's Pelican Landing 2024 | All Rights Reserved
				<br/>
				Created By <a href="https://zakscode.com" target="_blank">Zak Timson</a>
			</p>
		</div>
	</div>
</footer>
