<mat-toolbar class="d-print-none">
	<img routerLink="/" class="curs-pointer" src="/assets/logo.png" alt="Logo" height="46px" width="auto">
	<button mat-button routerLink="/" class="d-flex align-items-center">

		<h1 class="d-none d-sm-inline">Pelican Landing</h1>
	</button>
	<span class="mx-auto"></span>
	<span>
		<button mat-button routerLink="/coming-soon">Restaurant</button>
	    <button mat-button routerLink="/coming-soon">Hunting</button>
	    <button mat-button routerLink="/coming-soon">Fishing</button>
	    <button mat-button routerLink="/coming-soon">Lodging</button>
    </span>
</mat-toolbar>
