@import '~@angular/material/theming';
@include mat-core();

$pelican-landing-primary: mat-palette($mat-indigo);
$pelican-landing-accent: mat-palette($mat-pink, A200, A100, A400);

$pelican-landing-warn: mat-palette($mat-red);

$pelican-landing-theme: mat-light-theme((
  color: (
    primary: $pelican-landing-primary,
    accent: $pelican-landing-accent,
    warn: $pelican-landing-warn,
  )
));

@include angular-material-theme($pelican-landing-theme);

mat-toolbar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25) !important;
}
